<header *ngIf="userProfile$ | async as userProfile">
  <div>
    <h1>{{userProfile.displayName}}</h1>
    <h3>{{userProfile.username}}</h3>
  </div>
  <div>
    <button (click)="isEditProfileFormOpen = true">Edit profile</button>
    <button (click)="signOut()">Sign out</button>
  </div>
</header>
<h2>Builds</h2>
<ng-container *ngIf="buildList$ | async as buildList">
  <ul *ngFor="let build of buildList">
    <li>{{build.displayName}}</li>
  </ul>
</ng-container>

<app-dialog [isOpen]="isEditProfileFormOpen"
            title="Edit Profile">
  <div class="form-body">
    <div class="form-field">
      <label>Display name</label>
      <input #displayName type="text" />
    </div>
    <div class="form-field">
      <label>Email</label>
      <input #email type="text" />
    </div>
    <div class="form-buttons-container">
      <button (click)="isEditProfileFormOpen = false">Close</button>
      <button (click)="updateUserProfile(displayName.value, email.value)">Submit</button>
    </div>
  </div>
</app-dialog>
