<h1>PC Parts List</h1>
<p>Pick out your PC parts.</p>
<ng-container *ngIf="draftBuild$ | async as draftBuild">
  <div class="build-table">
    <header>
      <div class="basic-info">
        <label>{{draftBuild.displayName}}</label>
        <span [title]="draftBuild.description">{{draftBuild.description}}</span>
      </div>
      <div class="action-buttons">
        <ng-container *ngIf="isLoggedIn$ | async;else editButton">
          <svg #menuButton (click)="toggleOverflowMenu()" class="icon-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/>
          </svg>
          <ul class="overflow-menu" #overflowMenu *ngIf="isOverflowMenuOpen">
            <li (click)="openEditDraftForm()">Edit basic information</li>
            <li (click)="openBuildList()">Switch list</li>
            <li (click)="createNewDraft()">Start new build</li>
            <li *ngIf="draftBuild.uuid !== undefined" (click)="deleteDraft()">Delete build</li>
          </ul>
        </ng-container>
        <ng-template #editButton>
          <button (click)="openEditDraftForm()">Edit info</button>
        </ng-template>
      </div>
    </header>
    <table class="components-table">
      <thead>
      <tr>
        <th>Component</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let listDef of componentListModels$ | async">
          <ng-container *ngIf="listDef.items.length > 0; else componentSelect">
            <tr>
              <td>
                <a routerLink="/components"
                  [queryParams]="{component: listDef.componentType}">
                  {{listDef.displayName}}
                </a>
              </td>
              <td>
                <ol>
                  <li *ngFor="let item of listDef.items">
                    {{item.displayName}}
                  </li>
                </ol>
              </td>
              <td>
                <ol>
                  <li *ngFor="let item of listDef.items">
                    {{item.price}}
                  </li>
                </ol>
              </td>
            </tr>
          </ng-container>
          <ng-template #componentSelect>
            <tr>
              <td>
                <a routerLink="/components" [queryParams]="{component: listDef.componentType}">{{listDef.displayName}}</a>
              </td>
              <td>
                <button
                  routerLink="/components"
                  [queryParams]="{component: listDef.componentType}">Choose a {{listDef.displayName}} component</button>
              </td>
              <td></td>
            </tr>
          </ng-template>
        </ng-container>
      </tbody>
    </table>
  </div>

  <app-dialog [title]="'PC Builds'"
              [isOpen]="isBuildListOpen"
              [widthRem]="40"
              (close)="isBuildListOpen = false">
    <div class="form-body">
      <ag-grid-angular class="ag-theme-alpine build-list"
                       [gridOptions]="gridOptions"
                       [columnDefs]="columnDefs"
                       [rowData]="userBuilds$ | async"
                       (gridColumnsChanged)="resizeGrid($event)"
                       (gridSizeChanged)="resizeGrid($event)"
                       (selectionChanged)="updateBuildSelection($event)">
      </ag-grid-angular>
      <div class="form-buttons-container">
        <button (click)="isBuildListOpen = false">Close</button>
        <button [disabled]="!hasSelectedBuild" (click)="switchBuild()">Switch</button>
      </div>
    </div>
  </app-dialog>

  <app-dialog [title]="'Edit Profile'"
              [isOpen]="isEditDraftOpen"
              (close)="isEditDraftOpen = false">
    <div class="form-body">
      <div class="form-field">
        <label>Display name</label>
        <input #displayName type="text" [value]="draftBuild.displayName" />
      </div>
      <div class="form-field">
        <label>Description</label>
        <input #description type="text" [value]="draftBuild.description" />
      </div>
      <div class="form-buttons-container">
        <button (click)="isEditDraftOpen = false">Close</button>
        <button (click)="updateDraftInfo(displayName.value, description.value)">Submit</button>
      </div>
    </div>
  </app-dialog>
</ng-container>
