:host {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  max-width: 120rem;
  margin: auto;
  width: 100%;

  ag-grid-angular.build-list {
    height: 25rem;
  }

  .build-table {
    margin-top: 1rem;
    min-width: 752px;
    padding-bottom: 4rem;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.4rem 0.8rem;
      margin-bottom: 1rem;
      border-radius: 6px;
      background: #ccc;

      & .basic-info {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        & label {
          margin-right: 1rem;
          font-weight: bold;
        }
      }

      & .action-buttons {
        display: flex;

        & ul.overflow-menu {
          position: absolute;
          list-style: none;
          width: 12rem;
          background: red;
          padding: 0.8rem;
          border-radius: 8px;
          border: 1px solid #cccc;
          margin-top: 2rem;
          background: #fff;
          transform: translateX(calc(-100% + 28px));

          & li {
            color: #222;
            padding: 0.5rem;
            cursor: pointer;

            &:hover {
              background: #eee;
            }
          }
        }
      }
    }

    table {
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      & td, & th {
        border-bottom: 1px solid #5555;
        padding: 8px;
        min-width: 12rem;
      }
      & tr td button {
        width: 20rem;
      }
      & th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
      }
      & ol {
        padding-left: 1rem;
        margin: 0.5rem 0;
        font-size: 14px;

        & li {
          line-height: 1.4rem;
          &::marker {
            font-weight: bold;
          }
        }
      }
    }
  }

  .icon-button {
    width: 16px;
    padding: 4px 5px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
  }
}

