<h1>PC Parts List</h1>
<p>Pick out your PC parts.</p>
<div *ngIf="draft$ | async as draft">
  <div>
    <h2>{{draft.displayName}}</h2>
    <p>{{draft.description}}</p>
  </div>
  <div>
    <button (click)="isEditDraftOpen = true">Edit list</button>
    <button (click)="saveDraft(draft)">Save list</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Component</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let listDef of componentListDefs">
        <ng-container *ngIf="listDef.items$ | async as items; else componentSelect">
          <ng-container *ngIf="items.length > 0; else componentSelect">
            <tr>
              <td>
                <a routerLink="/component-listing"
                  [queryParams]="{component: '{{componentType}}'}">
                  {{listDef.displayName}}
                </a>
              </td>
              <td>
                <ul>
                  <li *ngFor="let item of items">
                    {{item.displayName}}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li *ngFor="let item of items">
                    {{formPriceString(item.price)}}
                  </li>
                </ul>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #componentSelect>
          <tr>
            <td>
              <a routerLink="/component-listing" [queryParams]="{component: listDef.componentType}">{{listDef.displayName}}</a>
            </td>
            <td>
              <button
                routerLink="/component-listing"
                [queryParams]="{component: listDef.componentType}">Choose a {{listDef.displayName}} component</button>
            </td>
            <td></td>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>
  </table>
</div>

<dialog [open]="isEditDraftOpen">
  <div>
    <div class="form-header">
      <h1>Edit Profile</h1>
    </div>
    <div class="form-body">
      <div class="form-field">
        <label>Display name</label>
        <input #displayName type="text" />
      </div>
      <div class="form-field">
        <label>Description</label>
        <input #description type="text" />
      </div>
      <div class="form-buttons-container">
        <button (click)="isEditDraftOpen = false">Close</button>
        <button (click)="updateDraftInfo(displayName.value, description.value)">Submit</button>
      </div>
    </div>
  </div>
</dialog>
