<ng-container *ngIf="state$ | async as state">
  <h1 class="breadcrumbs">
    <a routerLink="/builds">PC Builds</a> / {{state.build.displayName}}
  </h1>
  <b>Created by {{state.build.username}}</b>
  <p>{{state.build.description}}</p>
  <table *ngIf="state.listModels.length > 0;else emptyListMessage" class="components-table">
    <thead>
    <tr>
      <th>Component</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let listDef of state.listModels">
          <tr>
            <td>
              <a routerLink="/components"
                 [queryParams]="{component: listDef.componentType}">
                {{listDef.displayName}}
              </a>
            </td>
            <td>
              <ol>
                <li *ngFor="let item of listDef.items">
                  {{item.displayName}}
                </li>
              </ol>
            </td>
            <td>
              <ol>
                <li *ngFor="let item of listDef.items">
                  {{item.price}}
                </li>
              </ol>
            </td>
          </tr>
      </ng-container>
    </tbody>
  </table>
  <ng-template #emptyListMessage>
    <h3>No components in build</h3>
  </ng-template>
  <section class="comments">
    <h3>Comments</h3>
    <div *ngIf="isLoggedIn" class="comment-input">
      <textarea #commentInput></textarea>
      <div class="button-list">
        <button (click)="submitComment(commentInput.value, state.build.uuid!); commentInput.value = ''">Submit</button>
      </div>
    </div>
    <ng-container *ngIf="state.comments.length > 0; else noComments">
      <div *ngFor="let comment of state.comments" class="comment">
        <div class="comment-header">
          <label>
            <h4>{{comment.username}}</h4>
            <span *ngIf="formatLastUpdated(comment) as lastUpdated">{{lastUpdated}}</span>
          </label>
        </div>
        <p>{{comment.content}}</p>
      </div>
    </ng-container>
    <ng-template #noComments>
      <p>There are no comments.</p>
    </ng-template>
  </section>
</ng-container>
