:host {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  max-width: 120rem;
  margin: auto;

  h1.breadcrumbs a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  section.comments {
    margin: 1rem 0 10rem 0;
    max-width: 60rem;
    .comment-input {
      display: flex;
      flex-direction: column;
      & textarea {
        resize: vertical;
      }
      & .button-list {
        display: flex;
        justify-content: end;
        & button {
          width: 5rem;
          height: 2rem;
          margin: 0.4rem 0;
        }
      }
    }
    .comment {
      margin: 1rem 0 1.5rem 0;
      & > .comment-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > label {
          display: flex;
          align-items: center;
          & > h4 {
            margin: 0.5rem 0.5rem 0.5rem 0;
            &::before {
              content: "@";
            }
          }
          & > span {
            font-size: 0.8rem;
            color: #555;
          }
        }
        & > .overflow-button:hover {
          cursor: pointer;
        }
      }
    }
  }
}
