<nav>
  <div class="logo-container">
    <a href="/"><img src="/assets/logo.png" width="220em" alt="logo"></a>
  </div>
  <div>
    <a routerLink="/build-listing">
      <span>Builds</span>
    </a>
    <a routerLink="/component-listing">
      <span>Components</span>
    </a>
    <a routerLink="/builder">
      <span>Build PC</span>
    </a>
  </div>
  <div>
    <ng-container *ngIf="userProfile$.getValue()?.username">
      <a routerLink="/user-profile">
        <span>Profile</span>
      </a>
    </ng-container>
    <ng-container *ngIf="!userProfile$.getValue()?.username">
      <button (click)="openFormDialog()">
        <span>Log In</span>
      </button>
    </ng-container>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>

<dialog [open]="isLoginFormOpen">
  <div>
    <div class="form-header">
      <h1>Log in</h1>
      <div class="alert-error" [hidden]="!errorMessage">
        <div class="close-button" (click)="errorMessage = undefined">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <i class="fa-solid fa-circle-exclamation"></i>
        {{errorMessage}}
      </div>
    </div>
    <div class="form-body">
      <div class="form-field">
        <label>Username</label>
        <input #username type="text" />
      </div>
      <div class="form-field">
        <label>Password</label>
        <input #password type="password" />
      </div>
      <div class="form-buttons-container">
        <button (click)="isLoginFormOpen = false">Close</button>
        <button (click)="authenticateUser(username.value, password.value)">Log In</button>
      </div>
    </div>
  </div>
</dialog>
