<nav>
  <div>
    <a href="/">
      <img src="/images/logo.png" width="220em" alt="logo">
    </a>
  </div>
  <div>
    <a routerLink="/build-listing">
      <span>Builds</span>
    </a>
    <a routerLink="/component-listing">
      <span>Components</span>
    </a>
    <a routerLink="/builder">
      <span>Build PC</span>
    </a>
  </div>
  <div>
    <ng-container *ngIf="userProfile$ | async as userProfile; else loginButton">
      <button #userProfileButton class="user-profile-btn" (click)="isUserProfileMenuOpen = !isUserProfileMenuOpen">
        <span>{{userProfile.displayName}}</span>
      </button>
      <ul #userProfileMenu class="user-profile-menu" *ngIf="isUserProfileMenuOpen">
        <li class="user-handle" [title]="userProfile.username">{{userProfile.username}}</li>
        <li (click)="openEditProfileFormDialog()">Edit profile information</li>
        <li (click)="logOutUser()">Log out</li>
      </ul>
    </ng-container>
    <ng-template #loginButton>
      <button (click)="openLoginFormDialog()">
        <span>Log In</span>
      </button>
    </ng-template>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>

<app-dialog title="Log in"
            [isOpen]="isLoginFormOpen"
            (close)="isLoginFormOpen = false">
  <div class="alert-error" [hidden]="!errorMessage">
    <div class="close-button" (click)="errorMessage = undefined">
      <span>&#215;</span>
    </div>
    {{errorMessage}}
  </div>
  <div class="form-body">
    <div class="form-field">
      <label>Username</label>
      <input #username type="text" autocomplete="off" />
    </div>
    <div class="form-field">
      <label>Password</label>
      <input #password type="password" autocomplete="off" />
    </div>
    <div class="form-buttons-container">
      <button (click)="isLoginFormOpen = false">Close</button>
      <button (click)="authenticateUser(username.value, password.value)">Log In</button>
    </div>
  </div>
</app-dialog>

<app-dialog title="Edit Profile"
            [isOpen]="isEditProfileFormOpen"
            (close)="isEditProfileFormOpen = false">
  <div class="form-body">
    <div class="form-field">
      <label>Display name</label>
      <input #displayName type="text" />
    </div>
    <div class="form-buttons-container">
      <button (click)="isEditProfileFormOpen = false">Close</button>
      <button (click)="updateUserProfile(displayName.value)">Submit</button>
    </div>
  </div>
</app-dialog>
