:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #5555;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    a {
      text-decoration: none;
      margin: 0.5rem;
      color: #555;
      &:hover {
        color: #222;
      }
    }

    button {
      border: none;
      background: none;
      color: #555;
      &:hover {
        color: #222;
      }
    }

    span {
      padding: 1rem;
      font-size: 16px;
    }
  }

  main {
    margin: 0 4rem;
    flex: 1;
  }
}
