<nav>
  <div>
    <a href="/">
      <img src="/images/logo.png" width="220em" alt="logo">
    </a>
  </div>
  <div>
    <a routerLink="/build-listing">
      <span>Builds</span>
    </a>
    <a routerLink="/component-listing">
      <span>Components</span>
    </a>
    <a routerLink="/builder">
      <span>Build PC</span>
    </a>
  </div>
  <div>
    <ng-container *ngIf="userProfile$.getValue()?.username">
      <a routerLink="/user-profile">
        <span>Profile</span>
      </a>
    </ng-container>
    <ng-container *ngIf="!userProfile$.getValue()?.username">
      <button (click)="openFormDialog()">
        <span>Log In</span>
      </button>
    </ng-container>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>

<app-dialog [isOpen]="isLoginFormOpen"
            [title]="'Log in'">
  <div class="alert-error" [hidden]="!errorMessage">
    <div class="close-button" (click)="errorMessage = undefined">
      <span>&#215;</span>
    </div>
    {{errorMessage}}
  </div>
  <div class="form-body">
    <div class="form-field">
      <label>Username</label>
      <input #username type="text" autocomplete="off" />
    </div>
    <div class="form-field">
      <label>Password</label>
      <input #password type="password" autocomplete="off" />
    </div>
    <div class="form-buttons-container">
      <button (click)="isLoginFormOpen = false">Close</button>
      <button (click)="authenticateUser(username.value, password.value)">Log In</button>
    </div>
  </div>
</app-dialog>
